@import 'variables',
        'typography',
        'base',
        'layout',
        'media';

body{
  background-color: #4C3F64;
}

header{
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 20px;
}


#game{
  margin: 30px 20%;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr [col-1]);
  grid-auto-rows: 125px;
  grid-gap: 10px;
}

.card{
  background-color: yellow;
  border-radius: 5%;
  border: 1px solid black;
  font-size: 30px;
  font-family: Arial;
  position: relative;
  color: #000;
  cursor: pointer;
}

.card:before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 5%;
  background-color: pink;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: height .2s;
}

button:disabled:not(.card) {
  background-color: yellow;
  border-radius: 5%;
  border: 1px solid black;
  font-size: 30px;
  font-family: Arial;
  position: relative;
  color: red;
  cursor: pointer;
}

.open::before{
  height: 0; 
}